#cards{
    background-color: rgba(0, 0, 0, 0.534);
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 70px;
    box-sizing: border-box;
    h1{
        width: 20%;
        padding: 5px;
        border-radius: 10px;
        border: solid 1px aliceblue ;
        margin-bottom: 20px;
        text-align: center;
        
    }
}
.card{
    width: 150px;
    height: 200px;
    background-image: url('../assets/cards/cardTras.jpg');
    background-size: cover;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
}
.card:hover{
    transform: scale(1.5);
    transition: 0.4s ease;
}
.um:hover{
    background-image: url(../assets/cards/cardArtifact.png);

}
.dois:hover{
    background-image: url(../assets/cards/cardCreature.png);

}       
.tres:hover{
    background-image: url(../assets/cards/cardEnchantment.png);

}
.quatro:hover{
    background-image: url(../assets/cards/cardInstant.png);

}
.cinco:hover{
    background-image: url(../assets/cards/cardSorcery.png);

}
.seis:hover{
    background-image: url(../assets/cards/cardLandBlue.png);
}
.sete:hover{
    background-image: url(../assets/cards/cardLandRed.png);

}
.oito:hover{
    background-image: url(../assets/cards/cardLandGreen.png);

}
@media screen and (max-width: 820px){
    #cards{
        width: 90%;
        padding: 20px;
    }
    .card{
        width: 120px;
        height: 150px;
    }
}
@media screen and (max-width: 395px){
    #cards{
        width: 90%;
        padding: 20px;
    }
    .card{
        width: 100px;
        height: 150px;
    }
    
}