#ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    button, input{
        color: black;
    }
}
table
{
    border-collapse: collapse;
    margin: 20px;
    width: 200px;
    text-align: center;
}