#ferramenta {
    width: 80%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    box-sizing: border-box;

    h3{
        margin-bottom: 20px;
    }
}
table{
    display: inline-block;
    padding: 10px;
    border: solid white 2px;
    border-radius: 20px;
    width: 15%;
    text-align: center;
}
.display{
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 50PX;
    height: 50PX;
    background-color: rgb(0, 0, 0);
}
.ajuda{
    position: relative;
    bottom: 30px;
    display: inline-block;
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    border: solid white 1px;
    display: inline-block;
}
.btn{
    width: 25px;
    background-color: rgba(240, 248, 255, 0);  
}
.btnMaior{
    background-color: rgba(240, 248, 255, 0);  
}
.btn, .btnMaior:hover{
    cursor: pointer;
}
