footer{
    position: relative;
    bottom: 0;
    width: 80%;
    height: 50px;
    margin: 20px auto 0;
    text-align: center;
    margin-top: 240px;
    padding: 10px;
    border-top: solid white 1px;
}