header{
    z-index: 10;
    width: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 54%, rgba(237, 221, 83, 0) 100%);
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;

    img{
        margin-top: 10px;
        height: 90px;
        margin-left: 20px;
        
    }
    ul{
        display: flex;
        list-style: none;
        margin-left: 20px;


        li{
            margin-right: 20px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;

            a{
                text-decoration: none;
                border: solid 1px transparent;
                padding: 5px;
            }
            a:hover{
                border: solid 1px aliceblue;
                border-radius: 5px;
            }
        }
    }
}
@media screen and (max-width: 800px){

    header{
        height: 50px;


        img{
            height: 40px;
            margin: 0;
        }
        ul{

        margin-left: 0;
        
            li{
                margin-right: 0;
                a{
                    font-size: 10px;
                }
            }
        }
        
    }
}
@media screen and (max-width: 900px){

}