#home{
    height: 100%;
    margin: 0 auto;
    padding: 100px;
}
.logo{
    z-index: 2;
    display: block;
    width: 50%;
    margin: 0 auto;
    transition: 0.4s ease;   
}

.logo:hover{
    transform: scale(1.1);
}
.pedra{
    z-index: 1;
    position: absolute;
    right: 10px;
    width: 20%;
    transition: 0.4s ease;
    margin-right: 100px;
    
    animation: flutuar 5s ease-in-out infinite;
}
.Pverde{
    top: 500px;
    left: 10px;
    margin-left: 100px;
    animation: flutuarV 3s ease-in-out infinite;
}
@keyframes flutuar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
@keyframes flutuarV {
    0% { transform: translateY(-20px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(-20px); }
}
@media screen and (max-width: 820px){
    .logo{
        width: 80%;
    }
    .Pverde{
        top: 300px;
        left: -60px;
    }
    .pedra{

    right: -40px;
    }
}
@media screen and (max-width: 395px){
    .logo{
        width: 120%;
    }
    .Pverde{
        top: 300px;
        left: -60px;
    }
    .Pver{
        top: 40px;
        right: 300px;

    }
    .pedra{

    right: -40px;
    }
}
