*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    
    
}
body{
    font-family: Arial, sans-serif;
    background-image: url('../assets/BACKGROUND.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}










