*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    
    
}
body{
    font-family: Arial, sans-serif;

    
}
.backGround{
    background-image: url('../assets/BACKGROUND.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.backGroundBaixo{
    background: black;
    width: 100%;
    height: 100%;
}










