#regras{
    background-color: rgba(0, 0, 0, 0.534);
    width: 60%;
    height: auto;
    margin: 10px auto;
    padding: 70px;
    box-sizing: border-box;
    h1{
        padding: 5px;
        border-radius: 10px;
        border: solid 1px aliceblue ;
        margin-bottom: 20px;
        text-align: center;
    }
}
section{
    display: inline-block;
    margin: 10px;
    border: solid 1px aliceblue;
    width: 43%;
    padding: 15px;
    border-radius: 10px;
    li{
        list-style-type: none;
    }
    
}
.maior{
    width: 90%;
}
.icon{
    width: 90px;
    transition: 0.4s ease;
    position: relative;
}
.preto{   
    top: 70px;
    left: 2%;
    animation: pulse 2s ease-in-out infinite;
}
.vermelho{
    top: 120px;
    right: -50%;
    animation: pulse 1s ease-in-out infinite;
}
.azul{
    bottom: -500px;
    left: 5%;
    animation: pulse 3s ease-in-out infinite;
}
.branco{
    bottom: -400px;
    right: -70%;
    animation: pulse 2s ease-in-out infinite;
}
.verde{
    bottom: -700px;
    left: 50%;
    animation: pulse 5s ease-in-out infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.12); }
    100% { transform: scale(1); }
    
}
@media screen and (max-width: 670px){
    #regras{
        width: 90%;
        padding: 20px;
    }
    section{
        width: 90%;
    }
    .icon{
        width: 10px;
    }
    .preto{   
        top: 50px;
        left: 80px;
    }
    .vermelho{
        top: 120px;
        right: -350px;
    }
    .azul{
        bottom: -500px;
        left: 120px;
    }
    .branco{
        bottom: -370px;
        right: -450px;
    }
    .verde{
        bottom: -630px;
        left: 150px;
    }
}
@media screen and (max-width: 820px){
        section{
        width: 90%;
    }
       .icon{
        width: 60px;
    }
        .preto{   
        top: 50px;
        left: 80px;
    }
        .vermelho{
        top: 120px;
        right: -350px;
    }
        .azul{
        bottom: -500px;
        left: 120px;
    }
        .branco{
        bottom: -370px;
        right: -450px;
    }
}
@media screen and (max-width: 395px){

    #regras{
        width: 90%;
        padding: 20px;
    }
    .icon{
        width: 50px;
    }
    section{
        width: 90%;
    }
    .icon{
        width: 45px;
    }
    .preto{   
        top: 50px;
        left: -30px;
    }
    .vermelho{
        top: 120px;
        right: -110px;
    }
    .azul{
        bottom: -500px;
        left: 5px;
    }
    .branco{
        bottom: -370px;
        right: -210px;
    }
    .verde{
        bottom: -630px;
        left: 150px;
    }
}