*{
    margin: 0;
    padding: 0;
    
    
}
body{
    font-family: Arial, sans-serif;
    background-image: url('assets/BACKGROUND.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

header{
    z-index: 10;
    width: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 54%, rgba(237, 221, 83, 0) 100%);
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;

    img{
        margin-top: 10px;
        height: 90px;
        margin-left: 20px;
        
    }
    ul{
        display: flex;
        list-style: none;
        margin-left: 20px;


        li{
            margin-right: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #333333;
            cursor: pointer;

            a{
                text-decoration: none;
                color: aliceblue;
            }
        }
    }
}

#home{
    height: 100vh;
    margin: 0 auto;
    padding: 100px;
}
.logo{
    z-index: 2;
    display: block ;
    width: 600px;
    margin: 0 auto;
    display: block;
    transition: 0.4s ease;

    
}

.logo:hover{
    transform: scale(1.1);
}
.pedra{
    z-index: 1;
    position: absolute;
    right: 10px;
    width: 200px;
    transition: 0.4s ease;
    margin-right: 100px;
    
    animation: flutuar 5s ease-in-out infinite;
}
.v{
    top: 500px;
    left: 10px;
    margin-left: 100px;
    animation: flutuarV 3s ease-in-out infinite;
}
@keyframes flutuar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}
@keyframes flutuarV {
    0% { transform: translateY(-20px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(-20px); }
}